<!--尾部模板-->
<div class="back-to-top" id="gotop">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>
<footer id="footer">
    <div class="container text-left">
        Copyright (c) 2017 by
        <a href="https://github.com/IMDLJ/docManSys" rel="nofollow" target="_blank">Silence ,</a>
        All Rights Reserved &nbsp;
    </div>
</footer>